nav.shrink {
	/*background-color: rgb(104, 158, 193  ); */

	/*This is the color that the navigation bar gets as we srcoll*/
		background-color: rgba(13, 71, 161  ,.99 ); 
	height: 60px;padding-top: 0px;padding-bottom: 0px;
}
nav.shrink.navbar-logo {
	font-size: 20px;
	padding:30px 0px 0px 0px;
	color:#1B2631  ;
}


/*This change the menu text when scholl down*/
nav.shrink div.container div.collapse ul li a.nav-link {
	color:white;
	text-transform: uppercase;
}