nav.shrink {background-color: rgba(13, 71, 161  ,.95 );height: 60px;padding-top: 0px;padding-bottom: 0px;/*Color and style that the navigation bar gets as we srcoll*/ }		
nav.shrink.navbar-logo {font-size: 20px;padding:30px 0px 0px 0px;color:#1B2631;}
nav.shrink div.container div.collapse ul li a.nav-link { color:white;text-transform: uppercase;/*Change menu text as scroll down*/}
#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
/*     background-color: transparent;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s */
}