html,body{
	height: 100%;


}
.img-ground{
	/* Location of the image */

 background-image: 
    linear-gradient(
      rgba(0.2, 0, 0, 0.6),
      rgba(0.2, 0, 0, 0.6)
    ),url(img/washington-1.jpg);

  /* Full height */
    height: 100%; 

  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;	
}


div.container4  {
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
h1,h4,h5,p {
	  color:white;
}

h1{
	font-family: 'Tangerine', serif;
  font-size: 60px;
  text-shadow: 4px 4px 4px #aaa;


}

h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 45px;
}
h5{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}