@media screen and (max-width: 600px) {
    .navbar ul   li:not(:first-child){display: none;}
    .navbar ul li.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive ul li {
        float: left;
        display: block;
    }

    .navbar.responsive ul li a {
        padding: 15px;
        display: block;
    }
}

.res ul li a  {
    float:none;
    text-decoration: none;
    text-transform: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

.res ul {
    list-style:none;
}
.navbar .icon {
    display:none;
}

.navbar {
    /*overflow:hidden;*/
    background-color: #F9E79F;
    position:fixed;
    top:0;
    width: 100%;
    margin:0;
    padding:0;
    overflow:hidden;

}
.navbar ul {
    text-align: center;
    list-style: none;
    text-align: center;
}

.navbar ul li {
    display: inline;
}
.navbar ul li a {
    padding:15px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: red;
    background:graytext;
}
.tracker-red{
    background: red
}
